/* Coolors Exported Palette - https://coolors.co/7ddaf3-fad9b3-b9dd5b-f08b62-fca148-dadada-f1f7ea-e5e68f-d8f1c6-9a9a9a */

/* HSL */
$color1: hsla(193%, 49%, 95%, 1);
$color2: hsla(32%, 28%, 98%, 1);
$color3: hsla(77%, 59%, 87%, 1);
$color4: hsla(17%, 59%, 94%, 1);
$color5: hsla(30%, 71%, 99%, 1);
$color6: hsla(0%, 0%, 85%, 1);
$color7: hsla(88%, 5%, 97%, 1);
$color8: hsla(61%, 38%, 90%, 1);
$color9: hsla(95%, 18%, 95%, 1);
$color10: hsla(0%, 0%, 60%, 1);

/* RGB */
$color1: rgba(125, 218, 243, 1);
$color2: rgba(250, 217, 179, 1);
$color3: rgba(185, 221, 91, 1);
$color4: rgba(240, 139, 98, 1);
$color5: rgba(252, 161, 72, 1);
$color6: rgba(218, 218, 218, 1);
$color7: rgba(241, 247, 234, 1);
$color8: rgba(229, 230, 143, 1);
$color9: rgba(216, 241, 198, 1);
$color10: rgba(154, 154, 154, 1);

/* HEX */
$color1: #7ddaf3ff;
$color2: #fad9b3ff;
$color3: #b9dd5bff;
$color4: #f08b62ff;
$color5: #fca148ff;
$color6: #dadadaff;
$color7: #f1f7eaff;
$color8: #e5e68fff;
$color9: #d8f1c6ff;
$color10: #9a9a9aff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-right: linear-gradient(90deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-bottom: linear-gradient(180deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-left: linear-gradient(270deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-top-right: linear-gradient(45deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-bottom-right: linear-gradient(135deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-top-left: linear-gradient(225deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-bottom-left: linear-gradient(315deg, #7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);
$gradient-radial: radial-gradient(#7ddaf3ff, #fad9b3ff, #b9dd5bff, #f08b62ff, #fca148ff, #dadadaff, #f1f7eaff, #e5e68fff, #d8f1c6ff, #9a9a9aff);