/* Coolors Exported Palette - https://coolors.co/67a9fb-eee3ab-43aa8b-feb95f-e15554-3e885b-b5b8a3 */

/* HSL */
$color1: hsla(213%, 59%, 98%, 1);
$color2: hsla(50%, 28%, 93%, 1);
$color3: hsla(162%, 61%, 67%, 1);
$color4: hsla(34%, 63%, 100%, 1);
$color5: hsla(0%, 63%, 88%, 1);
$color6: hsla(144%, 54%, 53%, 1);
$color7: hsla(69%, 11%, 72%, 1);

/* RGB */
$color1: rgba(103, 169, 251, 1);
$color2: rgba(238, 227, 171, 1);
$color3: rgba(67, 170, 139, 1);
$color4: rgba(254, 185, 95, 1);
$color5: rgba(225, 85, 84, 1);
$color6: rgba(62, 136, 91, 1);
$color7: rgba(181, 184, 163, 1);

/* HEX */
$color1: #67a9fbff;
$color2: #eee3abff;
$color3: #43aa8bff;
$color4: #feb95fff;
$color5: #e15554ff;
$color6: #3e885bff;
$color7: #b5b8a3ff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-right: linear-gradient(90deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-bottom: linear-gradient(180deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-left: linear-gradient(270deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-top-right: linear-gradient(45deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-bottom-right: linear-gradient(135deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-top-left: linear-gradient(225deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-bottom-left: linear-gradient(315deg, #67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);
$gradient-radial: radial-gradient(#67a9fbff, #eee3abff, #43aa8bff, #feb95fff, #e15554ff, #3e885bff, #b5b8a3ff);