/* Coolors Exported Palette - https://coolors.co/b5f0fe-fcfac3-9cf1df-ffe78c-fabeb6-aeebc7-f2f3df */

/* HSL */
$color1: hsla(192%, 29%, 100%, 1);
$color2: hsla(58%, 23%, 99%, 1);
$color3: hsla(167%, 35%, 95%, 1);
$color4: hsla(47%, 45%, 100%, 1);
$color5: hsla(7%, 27%, 98%, 1);
$color6: hsla(145%, 26%, 92%, 1);
$color7: hsla(63%, 8%, 95%, 1);

/* RGB */
$color1: rgba(181, 240, 254, 1);
$color2: rgba(252, 250, 195, 1);
$color3: rgba(156, 241, 223, 1);
$color4: rgba(255, 231, 140, 1);
$color5: rgba(250, 190, 182, 1);
$color6: rgba(174, 235, 199, 1);
$color7: rgba(242, 243, 223, 1);

/* HEX */
$color1: #b5f0feff;
$color2: #fcfac3ff;
$color3: #9cf1dfff;
$color4: #ffe78cff;
$color5: #fabeb6ff;
$color6: #aeebc7ff;
$color7: #f2f3dfff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-right: linear-gradient(90deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-bottom: linear-gradient(180deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-left: linear-gradient(270deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-top-right: linear-gradient(45deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-bottom-right: linear-gradient(135deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-top-left: linear-gradient(225deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-bottom-left: linear-gradient(315deg, #b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);
$gradient-radial: radial-gradient(#b5f0feff, #fcfac3ff, #9cf1dfff, #ffe78cff, #fabeb6ff, #aeebc7ff, #f2f3dfff);