// app global css in SCSS form
$bkit-icon-color   : #FFE792;
$bkit-check-color : #a2aa33;

.text-bkiticoncolor {
  color: $bkit-icon-color;
}
.bg-bkiticoncolor {
  background: $bkit-icon-color;
}

.text-bkitchekcolor {
  color: $bkit-check-color;
}
.bg-bkitchekcolor {
  background: $bkit-check-color;
}

/************************** bkit **************************/
$bkit-color : #67a9fb;

:root {
  --q-color-bkit: #{$bkit-color};
}

.text-bkit {
  color: $bkit-color !important;
  color: var(--q-color-bkit) !important;
}
.bg-bkit {
  background: $bkit-color !important;
  background: var(--q-color-bkit) !important;
}

/************************** bkit-folder **************************/
$folder : #eee3abff;

:root {
  --q-color-folder: #{$folder};
}

.text-folder {
  color: $folder !important;
  color: var(--q-color-folder) !important;
}
.bg-folder {
  background: $folder !important;
  background: var(--q-color-folder) !important;
}
/************************** bkit-file **************************/
$file : #eee3abff;

:root {
  --q-color-file: #{$file};
}

.text-file {
  color: $file !important;
  color: var(--q-color-file) !important;
}
.bg-file {
  background: $file !important;
  background: var(--q-color-file) !important;
}

/************************** bkit-ok **************************/
/************************** bkit-danger **************************/
/************************** bkit-warning **************************/
/************************** bkit-deleted **************************/
/************************** bkit-updated **************************/
/************************** bkit-notinbackup **************************/
/************************** bkit-filtered **************************/
/************************** bkit-unknown **************************/
/************************** bkit-included **************************/
$included : #3e885bff;

:root {
  --q-color-included: #{$included};
}

.text-included {
  color: $included !important;
  color: var(--q-color-included) !important;
}
.bg-included {
  background: $included !important;
  background: var(--q-color-included) !important;
}
/************************** bkit-excluded **************************/
$excluded : #e15554ff;

:root {
  --q-color-excluded: #{$excluded};
}

.text-excluded {
  color: $excluded !important;
  color: var(--q-color-excluded) !important;
}
.bg-excluded {
  background: $excluded !important;
  background: var(--q-color-excluded) !important;
}

/************************** XXXXXXXXX **************************/
$bkit-positive-color: #3e885bff;
.text-bkit-positive {
  color: $bkit-positive-color;
}
.bg-bkit-positive {
  background: $bkit-positive-color;
}

/*** toolbar ***/
$bkit-text-toolbar-color: #CCC;
$bkit-bg-toolbar-color: #AAA;
.text-toobar {
  color: $bkit-text-toolbar-color;
}
.bg-toolbar {
  background: $bkit-bg-toolbar-color;
}

/*** Menu ***/
$bkit-text-menu-color: #333;
$bkit-bg-menu-color: #F6F6F6;

.text-menu {
  color: $bkit-text-menu-color;
}
.bg-menu {
  background: $bkit-bg-menu-color;
}

/*** loader ***/
$bkit-text-loader-color: $bkit-color;
$bkit-bg-loader-color: $bkit-color;

.text-loader {
  color: $bkit-text-loader-color;
}
.bg-loader {
  background: $bkit-bg-loader-color;
}

/*** font ***/

@font-face {
  font-family: Courier, Arial, Helvetica, Courier New;
}

/*
::-webkit-scrollbar {
    width: 12px;
    background: #555;
}

::-webkit-scrollbar-button {
    background: #AAA; 
}

::-webkit-scrollbar-thumb {
    background: #333; 
}

::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

::-webkit-scrollbar-track {
    background: #CCC; 
}

::-webkit-scrollbar-track-piece {
    background: #080; 
}

::-webkit-scrollbar-corner {
    background: #999; 
}

::-webkit-resizer {
    background: #111; 
}
*/
