// app global css in SCSS form
$bkit-icon-color   : #FFE792;
$bkit-check-color : #a2aa33;

.text-bkiticoncolor {
  color: $bkit-icon-color;
}
.bg-bkiticoncolor {
  background: $bkit-icon-color;
}

.text-bkitchekcolor {
  color: $bkit-check-color;
}
.bg-bkitchekcolor {
  background: $bkit-check-color;
}

@font-face {
  font-family: Courier, Arial, Helvetica, Courier New;
}

