// app global css in SCSS form

/************************** bkit **************************/
$bkit : #67A9FB;

:root {
  --q-color-bkit: #{$bkit};
}

.text-bkit {
  color: $bkit !important;
  color: var(--q-color-bkit) !important;
}
.bg-bkit {
  background: $bkit !important;
  background: var(--q-color-bkit) !important;
}

/************************** bkit-fg **************************/
$fg : #FFF;

:root {
  --q-color-fg: #{$fg};
}

.text-fg {
  color: $fg !important;
  color: var(--q-color-fg) !important;
}
.bg-fg {
  background: $fg !important;
  background: var(--q-color-fg) !important;
}
/************************** bkit-bg **************************/
$bg : #FFF;

:root {
  --q-color-bg: #{$bg};
}

.text-bg {
  color: $bg !important;
  color: var(--q-color-bg) !important;
}
.bg-bg {
  bg: $bg !important;
  bg: var(--q-color-bg) !important;
}

/************************** bkit-ok **************************/
$ok : $green;

:root {
  --q-color-ok: #{$ok};
}

.text-ok {
  color: $ok !important;
  color: var(--q-color-ok) !important;
}
.bg-ok {
  background: $ok !important;
  background: var(--q-color-ok) !important;
}
/************************** bkit-error **************************/
$error : crimson;

:root {
  --q-color-error: #{$error};
}

.text-error {
  color: $error !important;
  color: var(--q-color-error) !important;
}
.bg-error {
  background: $error !important;
  background: var(--q-color-error) !important;
}

/************************** bkit-alarm **************************/
$alarm : $deep-orange;

:root {
  --q-color-alarm: #{$alarm};
}

.text-alarm {
  color: $alarm !important;
  color: var(--q-color-alarm) !important;
}
.bg-alarm {
  background: $alarm !important;
  background: var(--q-color-alarm) !important;
}
/************************** bkit-danger **************************/
$danger : $red;

:root {
  --q-color-danger: #{$danger};
}

.text-danger {
  color: $danger !important;
  color: var(--q-color-danger) !important;
}
.bg-danger {
  background: $danger !important;
  background: var(--q-color-danger) !important;
}
/************************** bkit-warning **************************/
$warning : $deep-orange;

:root {
  --q-color-warning: #{$warning};
}

.text-warning {
  color: $warning !important;
  color: var(--q-color-warning) !important;
}
.bg-warning {
  background: $warning !important;
  background: var(--q-color-warning) !important;
}
/************************** bkit-dismiss **************************/
$dismiss : $orange;

:root {
  --q-color-dismiss: #{$dismiss};
}

.text-dismiss {
  color: $dismiss !important;
  color: var(--q-color-dismiss) !important;
}
.bg-dismiss {
  background: $dismiss !important;
  background: var(--q-color-dismiss) !important;
}
/************************** bkit-cancel **************************/
$cancel : $orange;

:root {
  --q-color-cancel: #{$cancel};
}

.text-cancel {
  color: $cancel !important;
  color: var(--q-color-cancel) !important;
}
.bg-cancel {
  background: $cancel !important;
  background: var(--q-color-cancel) !important;
}

/************************** bkit-done **************************/
$done : $light-blue;

:root {
  --q-color-done: #{$done};
}

.text-done {
  color: $done !important;
  color: var(--q-color-done) !important;
}
.bg-done {
  background: $done !important;
  background: var(--q-color-done) !important;
}
/************************** bkit-missing **************************/
$missing : $orange-10;

:root {
  --q-color-missing: #{$missing};
}

.text-missing {
  color: $missing !important;
  color: var(--q-color-missing) !important;
}
.bg-missing {
  background: $missing !important;
  background: var(--q-color-missing) !important;
}
/************************** bkit-active **************************/
$active : $blue;

:root {
  --q-color-active: #{$active};
}

.text-active {
  color: $active !important;
  color: var(--q-color-active) !important;
}
.bg-active {
  background: $active !important;
  background: var(--q-color-active) !important;
}
/************************** bkit-notactive **************************/
$active : $blue-grey-6;

:root {
  --q-color-active: #{$active};
}

.text-active {
  color: $active !important;
  color: var(--q-color-active) !important;
}
.bg-active {
  background: $active !important;
  background: var(--q-color-active) !important;
}
/************************** bkit-updated **************************/
$updated : $green;

:root {
  --q-color-updated: #{$updated};
}

.text-updated {
  color: $updated !important;
  color: var(--q-color-updated) !important;
}
.bg-updated {
  background: $updated !important;
  background: var(--q-color-updated) !important;
}
/************************** bkit-older **************************/
$older : $green-10;

:root {
  --q-color-older: #{$older};
}

.text-older {
  color: $older !important;
  color: var(--q-color-older) !important;
}
.bg-older {
  background: $older !important;
  background: var(--q-color-older) !important;
}
/************************** bkit-updatedir **************************/
$updatedir : $secondary;

:root {
  --q-color-updatedir: #{$updatedir};
}

.text-updatedir {
  color: $updatedir !important;
  color: var(--q-color-updatedir) !important;
}
.bg-updatedir {
  background: $updatedir !important;
  background: var(--q-color-updatedir) !important;
}
/************************** bkit-modified **************************/
$modified : $teal-3;

:root {
  --q-color-modified: #{$modified};
}

.text-modified {
  color: $modified !important;
  color: var(--q-color-modified) !important;
}
.bg-modified {
  background: $modified !important;
  background: var(--q-color-modified) !important;
}
/************************** bkit-new **************************/
$new : $green;

:root {
  --q-color-new: #{$new};
}

.text-new {
  color: $new !important;
  color: var(--q-color-new) !important;
}
.bg-new {
  background: $new !important;
  background: var(--q-color-new) !important;
}
/************************** bkit-nobackup **************************/
$nobackup : $grey-13;

:root {
  --q-color-nobackup: #{$nobackup};
}

.text-nobackup {
  color: $nobackup !important;
  color: var(--q-color-nobackup) !important;
}
.bg-nobackup {
  background: $nobackup !important;
  background: var(--q-color-nobackup) !important;
}
/************************** bkit-deleted **************************/
$deleted : $orange-2;

:root {
  --q-color-deleted: #{$deleted};
}

.text-deleted {
  color: $deleted !important;
  color: var(--q-color-deleted) !important;
}
.bg-deleted {
  background: $deleted !important;
  background: var(--q-color-deleted) !important;
}
/************************** bkit-filtered **************************/
$filtered : $grey-6;

:root {
  --q-color-filtered: #{$filtered};
}

.text-filtered {
  color: $filtered !important;
  color: var(--q-color-filtered) !important;
}
.bg-filtered {
  background: $filtered !important;
  background: var(--q-color-filtered) !important;
}
/************************** bkit-unchecked **************************/
$unchecked : $grey-4;

:root {
  --q-color-unchecked: #{$unchecked};
}

.text-unchecked {
  color: $unchecked !important;
  color: var(--q-color-unchecked) !important;
}
.bg-unchecked {
  background: $unchecked !important;
  background: var(--q-color-unchecked) !important;
}

/************************** bkit-included **************************/
$included : darkgreen;

:root {
  --q-color-included: #{$included};
}

.text-included {
  color: $included !important;
  color: var(--q-color-included) !important;
}
.bg-included {
  background: $included !important;
  background: var(--q-color-included) !important;
}
/************************** bkit-excluded **************************/
$excluded : darkred;

:root {
  --q-color-excluded: #{$excluded};
}

.text-excluded {
  color: $excluded !important;
  color: var(--q-color-excluded) !important;
}
.bg-excluded {
  background: $excluded !important;
  background: var(--q-color-excluded) !important;
}

/************************** bkit-folder **************************/
$folder : $amber;

:root {
  --q-color-folder: #{$folder};
}

.text-folder {
  color: $folder !important;
  color: var(--q-color-folder) !important;
}
.bg-folder {
  background: $folder !important;
  background: var(--q-color-folder) !important;
}
/************************** bkit-file **************************/
$file : $amber;

:root {
  --q-color-file: #{$file};
}

.text-file {
  color: $file !important;
  color: var(--q-color-file) !important;
}
.bg-file {
  background: $file !important;
  background: var(--q-color-file) !important;
}
/************************** bkit-checkbox **************************/
$checkbox : $bkit;

:root {
  --q-color-checkbox: #{$checkbox};
}

.text-checkbox {
  color: $checkbox !important;
  color: var(--q-color-checkbox) !important;
}
.bg-checkbox {
  background: $checkbox !important;
  background: var(--q-color-checkbox) !important;
}
/************************** bkit-button **************************/
$button : $green;

:root {
  --q-color-button: #{$button};
}

.text-button {
  color: $button !important;
  color: var(--q-color-button) !important;
}
.bg-button {
  background: $button !important;
  background: var(--q-color-button) !important;
}
/************************** bkit-backup **************************/
$backup : $green;

:root {
  --q-color-backup: #{$backup};
}

.text-backup {
  color: $backup !important;
  color: var(--q-color-backup) !important;
}
.bg-backup {
  background: $backup !important;
  background: var(--q-color-backup) !important;
}
/************************** bkit-reset **************************/
$reset : $orange;

:root {
  --q-color-reset: #{$reset};
}

.text-reset {
  color: $reset !important;
  color: var(--q-color-reset) !important;
}
.bg-reset {
  background: $reset !important;
  background: var(--q-color-reset) !important;
}
/************************** bkit-restore **************************/
$restore : $green;

:root {
  --q-color-restore: #{$restore};
}

.text-restore {
  color: $restore !important;
  color: var(--q-color-restore) !important;
}
.bg-restore {
  background: $restore !important;
  background: var(--q-color-restore) !important;
}
/************************** bkit-recover **************************/
$recover : $green;

:root {
  --q-color-recover: #{$recover};
}

.text-recover {
  color: $recover !important;
  color: var(--q-color-recover) !important;
}
.bg-recover {
  background: $recover !important;
  background: var(--q-color-recover) !important;
}

/************************** bkit-loader **************************/
$loader : $bkit;

:root {
  --q-color-loader: #{$loader};
}

.text-loader {
  color: $loader !important;
  color: var(--q-color-loader) !important;
}
.bg-loader {
  background: $loader !important;
  background: var(--q-color-loader) !important;
}

/************************** bkit-openclose **************************/
$openclose : $green-10;

:root {
  --q-color-openclose: #{$openclose};
}

.text-openclose {
  color: $openclose !important;
  color: var(--q-color-openclose) !important;
}
.bg-openclose {
  background: $openclose !important;
  background: var(--q-color-openclose) !important;
}
/************************** bkit-path **************************/
$path : $bkit;

:root {
  --q-color-path: #{$path};
}

.text-path {
  color: $path !important;
  color: var(--q-color-path) !important;
}
.bg-path {
  background: $path !important;
  background: var(--q-color-path) !important;
}
/************************** bkit-path-sep **************************/
$path-sep : $amber;

:root {
  --q-color-path-sep: #{$path-sep};
}

.text-path-sep {
  color: $path-sep !important;
  color: var(--q-color-path-sep) !important;
}
.bg-path-sep {
  background: $path-sep !important;
  background: var(--q-color-path-sep) !important;
}
/************************** bkit-selected **************************/
$selected : $grey-4;

:root {
  --q-color-selected: #{$selected};
}

.text-selected {
  color: $selected !important;
  color: var(--q-color-selected) !important;
}
.bg-selected {
  background: $selected !important;
  background: var(--q-color-selected) !important;
}
/************************** bkit-versions **************************/
$versions : $blue-grey-6;

:root {
  --q-color-versions: #{$versions};
}

.text-versions {
  color: $versions !important;
  color: var(--q-color-versions) !important;
}
.bg-versions {
  background: $versions !important;
  background: var(--q-color-versions) !important;
}
/************************** bkit-noversions **************************/
$noversions : $blue-grey-4;

:root {
  --q-color-noversions: #{$noversions};
}

.text-noversions {
  color: $noversions !important;
  color: var(--q-color-noversions) !important;
}
.bg-noversions {
  background: $noversions !important;
  background: var(--q-color-noversions) !important;
}

/************************** bkit-badger **************************/
$badger : #048BA8;

:root {
  --q-color-badger: #{$badger};
}

.text-badger {
  color: $badger !important;
  color: var(--q-color-badger) !important;
}
.bg-badger {
  background: $badger !important;
  background: var(--q-color-badger) !important;
}

/************************** bkit-badger-1 **************************/
$badger-1 : #8BB174;

:root {
  --q-color-badger-1: #{$badger-1};
}

.text-badger-1 {
  color: $badger-1 !important;
  color: var(--q-color-badger-1) !important;
}
.bg-badger-1 {
  background: $badger-1 !important;
  background: var(--q-color-badger-1) !important;
}
/************************** bkit-badger-2 **************************/
$badger-2 : #C73E1D;

:root {
  --q-color-badger-2: #{$badger-2};
}

.text-badger-2 {
  color: $badger-2 !important;
  color: var(--q-color-badger-2) !important;
}
.bg-badger-2 {
  background: $badger-2 !important;
  background: var(--q-color-badger-2) !important;
}
/************************** bkit-badger-3 **************************/
$badger-3 : #C59849;

:root {
  --q-color-badger-3: #{$badger-3};
}

.text-badger-3 {
  color: $badger-3 !important;
  color: var(--q-color-badger-3) !important;
}
.bg-badger-3 {
  background: $badger-3 !important;
  background: var(--q-color-badger-3) !important;
}
/************************** bkit-chip **************************/
$chip : #D4CB92ff;

:root {
  --q-color-chip: #{$chip};
}

.text-chip {
  color: $chip !important;
  color: var(--q-color-chip) !important;
}
.bg-chip {
  background: $chip !important;
  background: var(--q-color-chip) !important;
}

/************************** bkit-chip-1 **************************/
$chip-1 : #E6B89Cff;

:root {
  --q-color-chip-1: #{$chip-1};
}

.text-chip-1 {
  color: $chip-1 !important;
  color: var(--q-color-chip-1) !important;
}
.bg-chip-1 {
  background: $chip-1 !important;
  background: var(--q-color-chip-1) !important;
}
/************************** bkit-chip-2 **************************/
$chip-2 : #ED9390ff;

:root {
  --q-color-chip-2: #{$chip-2};
}

.text-chip-2 {
  color: $chip-2 !important;
  color: var(--q-color-chip-2) !important;
}
.bg-chip-2 {
  background: $chip-2 !important;
  background: var(--q-color-chip-2) !important;
}
/************************** bkit-chip-3 **************************/
$chip-3 : #EAE0CCff;

:root {
  --q-color-chip-3: #{$chip-3};
}

.text-chip-3 {
  color: $chip-3 !important;
  color: var(--q-color-chip-3) !important;
}
.bg-chip-3 {
  background: $chip-3 !important;
  background: var(--q-color-chip-3) !important;
}

/************************** bkit-console **************************/
$console : #333;

:root {
  --q-color-console: #{$console};
}

.text-console {
  color: $console !important;
  color: var(--q-color-console) !important;
}
.bg-console {
  background: $console !important;
  background: var(--q-color-console) !important;
}
/************************** bkit-console-border **************************/
$console-border : #CCC;

:root {
  --q-color-console-border: #{$console-border};
}

.text-console-border {
  color: $console-border !important;
  color: var(--q-color-console-border) !important;
}
.bg-console-border {
  background: $console-border !important;
  background: var(--q-color-console-border) !important;
}

/*** toolbar ***/
$bkit-text-toolbar-color: #CCC;
$bkit-bg-toolbar-color: #AAA;
.text-toobar {
  color: $bkit-text-toolbar-color;
}
.bg-toolbar {
  background: $bkit-bg-toolbar-color;
}

/*** Menu ***/
$bkit-text-menu-color: #333;
$bkit-bg-menu-color: #F6F6F6;

.text-menu {
  color: $bkit-text-menu-color;
}
.bg-menu {
  background: $bkit-bg-menu-color;
}


/*** font ***/

@font-face {
  font-family: Courier, Arial, Helvetica, Courier New;
}

/*
::-webkit-scrollbar {
    width: 12px;
    background: #555;
}

::-webkit-scrollbar-button {
    background: #AAA; 
}

::-webkit-scrollbar-thumb {
    background: #333; 
}

::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

::-webkit-scrollbar-track {
    background: #CCC; 
}

::-webkit-scrollbar-track-piece {
    background: #080; 
}

::-webkit-scrollbar-corner {
    background: #999; 
}

::-webkit-resizer {
    background: #111; 
}
*/
